.header-container {
  display: flex;
  justify-content: space-between;
}

.collapse-button {
  appearance: none;
  border: none;
  background-color: white;
  cursor: pointer;
}

.collapse-button-arrow-up {
  transform: rotate(0deg);
  transition: transform 0.1s linear;
}

.collapse-button-arrow-down {
  transform: rotate(-180deg);
  transition: transform 0.1s linear;
}
