.label {
  font-size: 1.2rem;
  font-weight: 800;
}

.input {
  height: 1.65rem;
  background-color: rgb(226, 234, 241);
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
}

.input:focus {
  background-color: rgb(251, 253, 255);
}
